.vs/*
OnlineRetailer/.vs/OnlineRetailer/FileContentIndex/1e4b0ef3-ef18-4daa-9b80-8361fc7952e4.vsidx
OnlineRetailer/.vs/OnlineRetailer/FileContentIndex/537b66b3-5825-40ec-929e-aacd0705cec8.vsidx
OnlineRetailer/.vs/OnlineRetailer/FileContentIndex/601a4a64-f308-48a7-a7ce-f414cd5907b2.vsidx
OnlineRetailer/.vs/OnlineRetailer/FileContentIndex/60ca5af2-a37a-4f3f-bb3b-f08102685e67.vsidx
OnlineRetailer/.vs/OnlineRetailer/FileContentIndex/83653399-c18f-43f4-a015-21e4a0ce5ad4.vsidx
OnlineRetailer/.vs/OnlineRetailer/FileContentIndex/8f97d556-2717-41bf-b73f-50b9224edda2.vsidx
OnlineRetailer/.vs/OnlineRetailer/FileContentIndex/d10b6046-45bd-4441-9f34-86c5a6f2ed83.vsidx
OnlineRetailer/.vs/OnlineRetailer/FileContentIndex/d29efd0a-0e1d-4ef6-998c-2a292a691ebd.vsidx
